body
{
	padding: 0px;
	margin: 0px;
	background-color: black;
	text-align:center;
	height:100%;
}
#title
{
	clear:both;
	position:absolute;
	bottom:10%;
	left:0px;
	width:100%;
	text-align:center;
}
#title p.big
{
	font-size:12px;
	font-style:normal;
	color: #37f;
	font-weight:bold;
}
#title p
{
	margin:2px;
	font-size:10px;
	color: #b25;
	font-family: Verdana, Verdana, Geneva, sans-serif;
}
#title em
{
	color: #555;
}
#screen
{
	background-color: white;
	height: 100%;
	width:100%;
	position: fixed;
	z-index: 500;
	/*opacity: .8*/
}
#skyline
{
	height: 100%;
	min-height: 300px;
	width: 100%;
	position:absolute;
	left:0px;
	text-align:center;
	background: -moz-linear-gradient(top, #000000 50%, #171721 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#000000), color-stop(100%,#171721)); /* webkit */

}
#water
{
	margin:auto;
	position:relative;
	width:720px;
}
#air
{
	position:relative;
	top:0px;
	height:50%;
	width:100%;
	min-height: 150px;
}
#airspace
{
	position:fixed;
	bottom:50%;
	height:150px;
	width:720px;
	margin: auto;
}
#lake
{
	z-index: -50;
	width: 100%;
	height:50%;
	bottom: 0;
	position: fixed;
}
.building
{
	float:left;
	overflow: visible;
	position: relative;
	text-align:left;
}
.window
{
	background-color: white;
	width: 1px;
	height: 1px;
	position:absolute;
	overflow: hidden; /*thanks vince!*/
}
.reflection
{
	width: 10px;
	height: 3px;
	/*opacity: .075;
	border-radius:5px;
	-moz-border-radius:5px;*/
}
.antenna
{
	width:2px;
	height: 10px;
	background-color: white;
	position: relative;
	background-image: url(antenna.gif);
	background-position: top;
	background-repeat: no-repeat;
	overflow: hidden;
}
.blinker, .landinglight
{
	width: 1px;
	height: 2px;
	background-color: red;
	z-index:90;
	overflow:hidden;
}
.landinglight
{
	margin:2px;
}
.plane
{
	position: relative;
	width:4px;
	height: 5px;
	border: fuchsia;
}
.mask
{
	z-index: 100;
	position: relative;
}
.snowflake
{
	position:fixed;
	background-color: #aaaaff;
	z-index: 500;
}
#b1
{
	width:20px;
	height:20px;
}
#b2
{
	width:40px;
	height:50px;
}
#b3
{
	width:10px;
	height:20px;
}
#b4 /* sears*/
{
	width:30px;
	height:120px;
}
#b4 .mask
{

	width:10px;
	height: 30px;
	bottom: 120px;
	background-color: black;
}
#searsLeftAntenna, #searsRightAntenna
{
	bottom: 170px;
	float:left;
	height: 20px;
	background-repeat:no-repeat;
	
}
#searsLeftAntenna
{
	left:14px;
	background-position: top left;
}
#searsRightAntenna
{
	left:24px;
	background-position: top right;
}
#b5
{
	width:10px;
	height:30px;
}
#b6
{
	width:20px;
	height:60px;
}
#b7
{
	width:30px;
	height:40px;
}
#b8
{
	width:30px;
	height:60px;
}
#b9
{
	width:10px;
	height:50px;
}
#b10
{
	width:20px;
	height:70px;
}
#b11
{
	width:10px;
	height:40px;
}
#b12
{
	width:40px;
	height:60px;
}
#b13
{
	width:10px;
	height:20px;
}
#b14
{
	width:40px;
	height:50px;
}
#b15
{
	width:10px;
	height:60px;
}
#b16
{
	width:10px;
	height:40px;
}
#b17 /* vagina */
{
	width:20px;
	height:80px;
}
#b17 .mask
{
	bottom:80px;
	width: 20px;
	height: 40px;
	background: url('vagina.gif') no-repeat;
}
#b18
{
	width:20px;
	height:60px;
}
#b19
{
	width:10px;
	height:70px;
}
#b20
{
	width:20px;
	height:50px;
}
#b21 /* pencil */
{
	width:20px;
	height:90px;
}
#b21 .mask
{
	bottom: 90px;
	width: 20px;
	height: 50px;
	background: url('pencil.gif') no-repeat;
}
#b21 .antenna
{
	bottom:150px;
	left: 9px;
	background-repeat:repeat-x;
}
#b22
{
	width:10px;
	height:30px;
}
#b23 /* aon */
{
	width:20px;
	height:110px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#b23 .blinker 
{
	bottom:113px;
	position:relative;
}
#aontop
{
	background-image: url(aon.gif);
	background-repeat: repeat-x;
	height: 3px;
	width: 20px;
	bottom:112px;
}
#rightblinker
{
	float:right;
}
#b24
{
	width:10px;
	height:40px;
}
#b25
{
	width:10px;
	height:60px;
}
#b26 /* trump */
{
	width:10px;
	height:90px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 2px;
}
#b26 .antenna
{
	float:right;
	bottom:100px;
	width:1px;
}
#b27
{
	width:10px;
	height:30px;
}
#b28
{
	width:20px;
	height:60px;
}
#b29
{
	width:20px;
	height:40px;
}
#b30
{
	width:10px;
	height:20px;
}
#b31
{
	width:20px;
	height:40px;
}
#b32
{
	width:10px;
	height:30px;
}
#b33 /* hancock */
{
	width:30px;
	height:80px;
}
#b33 .mask
{
	bottom:80px;
	width: 30px;
	height: 50px;
	background: url('hancock.gif') no-repeat;
}
#hancockLeftAntenna, #hancockRightAntenna
{
	bottom: 151px;
	float:left;
	height: 20px;
	width: 1px;
	
}
#hancockLeftAntenna
{
	left:21px;
}
#hancockRightAntenna
{
	left:7px;
}
#b34
{
	width:10px;
	height:30px;
}
#b35
{
	width:40px;
	height:50px;
}
#b36
{
	width:20px;
	height:40px;
}
#b37
{
	width:30px;
	height:20px;
}
#b38
{
	width:10px;
	height:60px;
}
#b39
{
	width:10px;
	height:10px;
}